<%= form_for @projeto, class: 'form-quadro' do |u| %>
    <div class="erros_projeto">
        <%= render('erro') %>
    </div>
    <div class="form-group label-valor">
        <%= u.label "Nome", class: 'label-form' %>
        <%= u.text_field :nome, class: 'form-control valor-form' %>
    </div>
    <div class="form-group label-valor">
        <%= u.label "Sigla", class: 'label-form' %>
        <%= u.text_field :sigla, class: 'form-control valor-form' %>
    </div>
    <div class="form-group label-valor">
        <%= u.label "Descrição", class: 'label-form' %>
        <%= u.text_area :descricao, class: 'form-control valor-form', rows: 5 %>
    </div>
    <div class="form-group label-valor">
        <%= u.label "Inicio projeto", class: 'label-form' %>
        <%= u.datetime_field :inicio_projeto, class: 'form-control valor-form' %>
    </div>
    <div class="form-group label-valor">
        <%= u.label "Fim projeto", class: 'label-form' %>
        <%= u.datetime_field :fim_projeto, class: 'form-control valor-form' %>
    </div>
    <%= u.hidden_field :empresa_id, value: 1 %>
    <%= hidden_field_tag :usuario_id, @usuario_logado.id %>
    <div style="width: 100%; text-align: center">
        <%= button_tag 'Cancelar', type: 'button', class: 'btn btn-danger', onclick: "$('.div_lateral').hide()" %>
        <%= u.submit 'Confirmar', class: 'btn btn-success', style: 'margin: 0 auto' %>
    </div>
<% end %>