<%= form_for @perfil, class: 'form-quadro' do |u| %>
    <div class="erros_projeto">
        <%= render('erro') %>
    </div>
    <div class="form-group label-valor">
        <%= u.label "Nome", class: 'label-form' %>
        <%= u.text_field :nome, class: 'form-control valor-form' %>
    </div>
    <div class="form-group label-valor">
        <%= u.label "Descrição", class: 'label-form' %>
        <%= u.text_area :descricao, class: 'form-control valor-form', rows: 5 %>
    </div>
    <%= u.hidden_field :empresa_id, value: 1 %>
    <div style="width: 100%; text-align: center">
        <%= link_to 'Cancelar', perfils_path(empresa_id: 1), class: 'btn btn-danger' %>
        <%= u.submit 'Confirmar', class: 'btn btn-success', style: 'margin: 0 auto' %>
    </div>
<% end %>