<nav class="navbar navbar-expand-md fixed-top top-nav" style="background-color: #9524E3">
    <div class="container">
        <%= link_to 'Kember', home_index_path(), class: 'navbar-brand', style: 'font-weight: bold' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
		  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item <%= 'active' if @aba_selecionada == 'inicio' %>">
                    <%= link_to 'Inicio', home_index_path(), class: 'nav-link' %>
                </li>
                <% if @usuario_logado %>
                    <li class="nav-item <%= 'active' if @aba_selecionada == 'projetos' %>">
                        <%= link_to 'Projetos', projetos_path(), class: 'nav-link' %>
                    </li>
                    <li class="nav-item <%= 'active' if @aba_selecionada == 'empresas' %>">
                        <%= link_to 'Empresas', empresas_path(), class: 'nav-link' %>
                    </li>
                <% end %>
                <li class="nav-item <%= 'active' if @aba_selecionada == 'sobre' %>">
                    <%= link_to 'Sobre', em_breve_path(selecionada: 'sobre'), class: 'nav-link' %>
                </li>
                <li class="nav-item <%= 'active' if @aba_selecionada == 'servicos' %>">
                    <%= link_to 'Serviços', em_breve_path(selecionada: 'servicos'), class: 'nav-link' %>
                </li>
                <li class="nav-item <%= 'active' if @aba_selecionada == 'precos' %>">
                    <%= link_to 'Preços', em_breve_path(selecionada: 'precos'), class: 'nav-link' %>
                </li>
                <li class="nav-item <%= 'active' if @aba_selecionada == 'suporte' %>">
                    <%= link_to 'Suporte', em_breve_path(selecionada: 'suporte'), class: 'nav-link' %>
                </li>
                <% if cookies[:id].blank? %>
                    <li class="nav-item">
                        <%= link_to 'Entrar', login_path(), class: 'nav-link' %>
                    </li>
                <% else %>
                    <li class="nav-list-item"">
                        <div class="btn-group">
                            <button type="button" class="btn btn-padrao nav-link"><%= @usuario_logado.nome %></button>
                            <button type="button" class="btn btn-padrao dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" style="padding-left: 8px!important; color: white"></button>
                            <div class="dropdown-menu ml-118px">
                                <%= link_to 'Minha conta', usuario_path(@usuario_logado), class: 'dropdown-item background-color-padrao color-padrao drop-first-list' %>
                                <%= link_to 'Sair', sair_path, class: 'dropdown-item background-color-padrao color-padrao drop-last-list'%>
                            </div>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
<div style="width: 100%; height: 80px"></div>